body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFFFF; 
    color: #000000; 
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    width: 100%;
    background-color: rgb(21, 21, 214); 
    color: #FFFFFF; 
    padding: 20px;
    margin: 0;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 36px;
    margin-bottom: 20px;
}

form {
    width: 40%;
    margin: 20px;
    padding: 20px;
    background-color: #F2F2F2; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#idade{
    width: 20%;
}

#foto{
    font-size: 1.2rem;
    margin-top: 5px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}

input[type="text"],
input[type="number"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC; 
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="tel"]::-webkit-outer-spin-button,
input[type="tel"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="file"] {
    margin-bottom: 20px;
}

input[type="button"] {
    background-color: #0000FF; 
    color: #FFFFFF; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: #000080; 
}

.descriçao{
    max-height: 400px;
    color: #000080;
}

#botao-voltar{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    background-color: rgb(21, 21, 214);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 